@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #337AB7;
    text-decoration: none;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    color: #c34A37;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    color: black;
}

h3 {
    font-family: "Montserrat", sans-serif;  
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 750px auto auto 750px 200px 50px;
    grid-template-areas: 
            "h"
            "c"
            "o"
            "v"
            "m"
            "n"
            "f";
}

.header {
    grid-area: h;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}


.header-img {
    cursor: pointer;
    width: 75px;
    margin-left: 5px;
}

#header-name {
    margin-right: auto;
    margin-left: 5px;
}

.header-links {
    list-style: none;
}

.header-links li {
    display: inline-block;
    padding: 0px 20px;
}

.content {
    display: flex;
    flex-direction: column;
    background-image: url(images/bread-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: auto;
    width: auto;
    grid-area: c;
    justify-content: center;
}

.content-header {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.content-header h2 {
    align-self: flex-start;
}

.content-header p {
    align-self: flex-start;
    margin-left: 7px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    grid-area: n;
    align-items: center;
    margin-top: 50px;
}

.newsletter h2 {
    text-align: center;
    font-size: 32px;
}

.newsletter input {
    width: 300px;
    height: 25px;
    margin-top: 10px;
}

.newsletter button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #337AB7;
    background: transparent;
    color: #337AB7;
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-family: montserrat, sans-serif;
}

.craft {
    grid-area: o;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "Q Q"
            "X Z";
    height: 350px;
    margin-top: 50px;
    padding-top: 50px;
}

.craft-title {
    grid-area: Q;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.craft-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -75px;
    grid-area: Z;
}

.craft-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 125px;
    grid-area: X;
}

.craft-icons .craft-img {
    width: 50px;

}

.craft h3 {
    font-size: 32px;
    color: #c34A37
}

.craft p {
    font-size: 12px;
}

.video {
    grid-area: v;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.menu {
    grid-area: m;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.menu h2 {
    grid-column: 1 / 4 ;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 50px;
}

.countrybread {
    border: #337AB7 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 250px;
    
}

.countrybread h3 {
    margin-bottom: 50px;
    margin-top: 25px;
}

.countrybread li {
    text-align: justify;
    width: 200px;
    font-size: 14px;
    color: black;
    margin-left: 20px;
}

.countrybread button {
    margin-top: auto;
    margin-bottom: 20px;
    border: 2px solid #337AB7;
    background: transparent;
    color: #337AB7;
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-family: montserrat, sans-serif;
}

.porridge {
    border: #337AB7 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
}

.porridge h3 {
    margin-bottom: 50px;
    margin-top: 25px;
}

.porridge li {
    text-align: justify;
    width: 200px;
    font-size: 14px;
    color: black;
    margin-left: 20px;
}

.porridge button {
    margin-top: auto;
    margin-bottom: 20px;
    border: 2px solid #337AB7;
    background: transparent;
    color: #337AB7;
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-family: montserrat, sans-serif;
}

.rye {
    border: #337AB7 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 250px;
}

.rye h3 {
    margin-bottom: 50px;
    margin-top: 25px;
}

.rye li {
    text-align: justify;
    width: 200px;
    font-size: 14px;
    color: black;
    margin-left: 20px;
}

.rye button {
    margin-top: auto;
    margin-bottom: 20px;
    border: 2px solid #337AB7;
    background: transparent;
    color: #337AB7;
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-family: montserrat, sans-serif;
}

.footer {
    grid-area: f;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
