@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #337AB7;
    text-decoration: none;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    color: #c34A37;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    color: black;
}

h3 {
    font-family: "Montserrat", sans-serif;  
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 750px auto auto 50px;
    grid-template-areas: 
            "h"
            "c"
            "n"
            "o"
            "f";
}

.header {
    grid-area: h;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.header-img {
    cursor: pointer;
    width: 75px;
    margin-left: 5px;
}

#header-name {
    margin-right: auto;
    margin-left: 5px;
}

.header-links {
    list-style: none;
}

.header-links li {
    display: inline-block;
    padding: 0px 20px;
}

.content {
    display: flex;
    flex-direction: column;
    background-image: url(images/bread-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: auto;
    width: auto;
    grid-area: c;
    justify-content: center;
}

.content-header {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.content-header h2 {
    align-self: flex-start;
}

.content-header p {
    align-self: flex-start;
    margin-left: 7px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    grid-area: n;
    align-items: center;
    margin-top: 100px;
}

.newsletter h2 {
    text-align: center;
    font-size: 32px;
}

.newsletter input {
    width: 300px;
    height: 25px;
    margin-top: 10px;
}

.newsletter button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #337AB7;
    background: transparent;
    color: #337AB7;
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-family: montserrat, sans-serif;
}

.craft {
    grid-area: o;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    margin-top: 100px;
    margin-left: 400px;
}

.craft h3 {
    font-size: 32px;
    color: #c34A37
}

.craft p {
    font-size: 12px;
}

.footer {
    background-color: cornflowerblue;
    grid-area: f;
}
